input[type=text]:disabled{
display: none;
}


.page-wrapper {
    padding-top: 5%;
    width: 50%;
    margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
}

.no-flex{
flex: none;
}