<div th:fragment="listItems(vars, isOrderButtonActive)">
    <div  th:each="var : ${vars}">
        <p>
            <input th:id="${var.id + 'checkbox'}" th:name="item" type="checkbox" th:value="${var.id}" style="display:none" />
            <button th:if="${isOrderButtonActive}" class="btn btn-outline-info" th:onclick="activateCheckbox([[ ${var.id + 'checkbox'} ]])" type="submit" name="addElement">+</button>
            <span class="jedlo" th:text="${var.getName()}">itemName</span>
            <span> - </span>
            <span class="pink_color no_breaking_text" th:text="${var.getPrice() + ' €'}">itemPrice</span>
            <br>
            <span class="small_font" th:text="${ var.getAdditionalInfo()}">itemInfo</span>
        </p>
    </div>
</div>>