<div th:fragment="navbarFragment">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
            <ul>
                <li class="nav-item active">
                    <a class="nav-link" href="#Pizza - normálna veľkosť">Pizza<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Pizza - XXL veľkosť">Pizza - XXL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Polievky">Polievky</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Šaláty">Šaláty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ZEMIAK_SPECIAL">Zemiakové špeciality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Bagety">Bagety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Cestoviny">Cestoviny</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#OBALOVANE">Obalované jedlá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Mäsové jedlá">Mäsové jedlá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Wrap a fritata">Wrap a fritata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Niečo malé pod zub">Niečo malé pod zub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Prílohy">Prílohy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Pochutiny">Pochutiny</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Omáčky">Omáčky</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#VINO">Víno</a>
                </li>
            </ul>
        </div>
    </nav>
</div>