<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alte Caffe & Pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/custom.css">
</head>


<style>


</style>

<body>

    <div class="content">
        <div class="page-wrapper">


                <h5 class="center">Základné pojmy a úvodné ustanovenia</h5>
                <p>1. Podnik je prevádzka Alte Caffe & Pizza, telefónny kontakt 0905 648 973, obchodnej spoločnosti Kima s.r.o. so sídlom Brigádnická 2 Košice 040 01, IČO: 43 815 014, zapísaná v Obchodného registry Okresného súdu Košice I vložka číslo:  20711/V.</p>
                <p>2. Používateľ je osoba uskutočňujúca objednávku cez tento webový portál.</p>


                <h5 class="center">Zodpovednosť za vady a omeškanie doručenia</h5>
                <p>1. Odstránenie vád objednávky je možné uplatňovať formou reklamácie na telefónnom čísle 0905 648 973.</p>
                <p>2. Podnik nenesie zodpovednosť za prípadne omeškanie doručenia objednávky.</p>


                <h5 class="center">Ochrana osobných údajov</h5>
                <p>1. Používateľ odoslaním Objednávky poskytuje podniku údaje, ktoré podnik spracúva v rozsahu, spôsobom a na účely, ktoré sú v súlade s ustanoveniami nariadenia Európskeho parlamentu a Rady (EÚ) 2016/679 z 27.apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov, ktorým sa zrušuje smernica 95/46/ES (všeobecné nariadenie o ochrane údajov) a zákona č. 18/2018 Z.z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov.</p>


            <div class='row'>
                <a class="btn btn-outline-primary" th:href="@{/order/orderInfo}">Späť</a>
            </div>

        </div>
    </div>

</body>

</html>