<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alte Caffe & Pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/custom.css">
</head>

<script>
    history.pushState("", document.title, location.href.replace( /#.*/, ""));
</script>

<body>

    <div class="content">
        <div class="page-wrapper">
            <form method="POST">
                <div class='row'>
                    <div class="column" th:object="${customerInfo}">
                            <h1>Prosím zadajte </h1>
                            <p>
                                <span>Meno a priezvisko:</span>
                                <span><input type="text" th:field="*{name}"></input></span>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Zadajte meno a priezvisko prosím</span>
                            </p>

                            <p>
                                <span>Ulica:</span>
                                <span><input type="text" th:field="*{street}"></input></span>
                                <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Zadajte ulicu prosím</span>
                            </p>


                            <p>
                                <span>Telefónne číslo:</span>
                                <span><input type="text" th:field="*{telephoneNumber}"></input></span>
                                <span th:if="${#fields.hasErrors('telephoneNumber')}" th:telephoneNumber="*{telephoneNumber}">Zadajte prosím telefónne číslo vo formáte 0905111222 bez medzier</span>
                            </p>

                            <p>
                                <p style="margin-bottom:0;">Poznámka k objednávke:</p>
                                <textarea placeholder="Tu zadajte poznámku k objednávke týkajúcu sa jedla, adresy a pod." th:field="*{comment}"></textarea>
                                <span th:if="${#fields.hasErrors('comment')}" th:telephoneNumber="*{comment}">Komentár môže mať najviac 256 znakov</span>
                            </p>

                            <p>
                                <input th:field="*{payWithCardToDeliveryGuy}" type="checkbox" value="true" >
                                <span>Platba donáškarovi kartou</span>
                            </p>

                            <p>
                                <input th:field="*{agreement}" type="checkbox" value="true" >
                                <span th:if="${#fields.hasErrors('agreement')}" th:telephoneNumber="*{agreement}"></span>
                                <span>Súhlas s podmienkami podniku</span>
                                <a class="btn btn-outline-info" th:href="@{/objednavka/podmienky}">Ukáž podmienky podniku</a>
                            </p>
                    </div>

                    <div class="column"  th:object="${orderDTO}">
                        <p class="pink_color emphasize">Tvoj košík</p>
                        <div th:each="var : ${orderedItems}">
                            <p>
                                <span class="small_font" th:text="${var.name}"></span>
                                <span class="small_font" th:text="${var.itemListToString()}"></span>
                            </p>

                        </div>

                        <p th:text="${discount}"></p>
                        <p>
                            <span class="pink_color emphasize">Celková cena</span>
                            <span class="pink_color emphasize" th:text="${totalPrice}" id="overallPrice">0.00</span>
                            <span class="pink_color emphasize"> €</span>
                        </p>
                    </div>

                </div>


                <div class='row'>
                    <a class="btn btn-outline-primary" th:href="@{/kosik}">Späť k nákupu</a>
                    <button class="btn btn-outline-primary">Odoslať objednávku</button>
                </div>

            </form>

        </div>
    </div>

</body>

</html>