<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="custom.css">
</head>


<script>
function activateCheckbox(id)
{
    document.getElementById(id).checked = true;

}


</script>


<body>


<form method="POST" >
    <div class="grid" th:object="${innerOrder}">

        <div th:each="var : ${DOPLNKY}">

            <p>

                <input th:id="${var.id + 'checkbox'}" th:name="orderList" type="checkbox" th:value="${var.id}" style="display:none" />
                <button class="btn btn-outline-success" th:onclick="activateCheckbox([[ ${var.id + 'checkbox'} ]])" type="submit" name="addInnerElement">+</button>
                <span th:text="${var.getName()}">item</span>
            </p>

        </div>

        <a class="btn btn-outline-primary" th:href="@{/basket}">Späť k nákupu</a>

    </div>
</form>


</body>
</html>