<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alte Caffe & Pizza</title>
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="content">
        <div class="page-wrapper">
            <h1 class="center">Zadaná adresa buď neexistuje, alebo sa niekde vyskytla chyba.</h1>
            <a class="btn btn-outline-primary row" th:href="@{/basket}">Nová objednávka</a>
        </div>
    </div>



</body>
</html>