<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alte Caffe & Pizza</title>
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>


    <script>
        function activateCheckbox(id)
        {
            document.getElementById(id).checked = true;
        }
    </script>



    <div class="page-wrapper">

        <h3>Vyberte si objednavku:</h3>

        <form method="POST" >
            <div class='row'>
                <div  th:object="${orderPlaceHolder}">

                    <div class="column">

                        <div  th:each="var : ${PIZZA}">

                            <p>
                                <input th:id="${var.id + 'checkbox'}" th:name="item" type="checkbox" th:value="${var.id}" style="display:none" />
                                <button class="btn btn-outline-success" th:onclick="activateCheckbox([[ ${var.id + 'checkbox'} ]])" type="submit" name="addElement">+</button>
                                <span th:text="${var.getName()}">item</span>
                            </p>


                        </div>


                        <div th:each="var : ${POLIEVKA}">

                            <p>
                                <input th:id="${var.id + 'checkbox'}" th:name="item" type="checkbox" th:value="${var.id}" style="display:none" />
                                <button class="btn btn-outline-success" th:onclick="activateCheckbox([[ ${var.id + 'checkbox'} ]])" type="submit" name="addElement">+</button>
                                <span th:text="${var.getName()}">item</span>
                            </p>


                        </div>

                    </div>


                </div>

            <div class="column"  th:object="${orderPlaceHolder}">
                <div th:each="var : ${orderedItems}">
                    <p>
                        <input th:id="${var.id + 'removeItem'}" th:name="indexToRemove" type="checkbox" th:value="${varStat.index}" style="display:none" />
                        <button class="btn btn-outline-danger" th:onclick="activateCheckbox([[ ${var.id + 'removeItem'} ]])"  type="submit" name="removeElement">-</button>
                        <span  th:text="${var.name}"></span>
                        <span th:text="${var.itemListToString()}"></span>
                        <a  class="btn btn-outline-info" th:href="@{/editItem(index=${varStat.index})}">Pridaj suroviny</a>
                    </p>

                </div>
                <p>
                    <span>Celková cena</span>
                    <span th:text="${totalPrice}" id="overallPrice">0.00</span>
                    <span> €</span>
                </p>



            </div>

            </div>

            <button class="btn btn-outline-primary row">Odoslať objednávku</button>


        </form>




    </div>



</body>
</html>