<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>Hello World</h1>
<img th:src="@{/images/test.png}"/>


<script>
function incrementValue(id)
{
    var value = parseInt(document.getElementById(id).value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById(id).value = value;

}

function decrementValue(id)
{
    var value = parseInt(document.getElementById(id).value, 10);
    value = isNaN(value) ? 0 : value;
    if (value > 0)
        value--;
    document.getElementById(id).value = value;
}


</script>


    <h3>Vyberte si objednavku:</h3>

<form method="POST" th:object="${order}">
    <div class="grid">


        <div th:each="var : ${PIZZA}">

                <p>
                    <span th:text="${var.getName()}">item</span>
                    <input name="orderList" type="checkbox" th:value="${var.id}" style="display:none" />

                    <input th:onclick="incrementValue([[ ${var.id} ]])" type="button" value="↑" />
                    <input th:onclick="decrementValue([[ ${var.id} ]])" type="button" value="↓" />

                    <input  th:id="${var.id}" name="orderList" type="text" value="0" />

                </p>


        </div>


        <div th:each="var : ${POLIEVKA}">

            <p>
                <span th:text="${var.getName()}">item</span>
                <input name="orderList" type="checkbox" th:value="${var.id}" style="display:none" />

                <input th:onclick="incrementValue([[ ${var.id} ]])" type="button" value="↑" />
                <input th:onclick="decrementValue([[ ${var.id} ]])" type="button" value="↓" />

                <input  th:id="${var.id}" name="orderList" type="text" value="0" />


            </p>

        </div>

    </div>

    <button>Vyplniť adresu objednávky</button>

</form>



</body>
</html>